<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="redact" converterClass="com.cliniqo.common.logging.PhiRedactionConverter"/>

    <appender name="STDOUT_LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId:-}][%X{clinicId:-}][%X{userId:-}] %logger{40} - %redact(%msg)%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <mdc>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                    <includeMdcKeyName>clinicId</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                    <includeMdcKeyName>action</includeMdcKeyName>
                </mdc>
                <pattern>
                    <pattern>{"service":"cliniqo-api","message":"%redact(%msg)"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <springProfile name="local,test">
        <root level="INFO">
            <appender-ref ref="STDOUT_LOCAL"/>
        </root>
        <logger name="com.cliniqo" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="STDOUT_JSON"/>
        </root>
        <logger name="com.cliniqo" level="INFO"/>
        <logger name="org.springframework.security" level="WARN"/>
    </springProfile>
</configuration>
